{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="/records-search" method="post" class="form-records-search">
<p><label>Author:</label>
<p><textarea name="author" rows=2 cols=40></textarea>
<p><label>Query:</label>
<p><textarea name="query" rows=7 cols=40></textarea>
<p><input type="submit" value="Search" />
</form>

{% if results %}
    <h2>Результаты поиска:</h2>
    <ul class="search-results">
        {% for item in results %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
{% elif results is defined and not formatted_results %}
    <p>По вашему запросу ничего не найдено.</p>
{% endif %}
{% endblock %}